<style>
		.table {width:"400";
		height:"300";
		text-align: central;}

		.pavadinimas { color: #201206;
		text-align: central;
		font-weight: bold;}
		#autorius {color:red;}
		.listas {color:#240905;}
		
		
		
</style>