<style>
		.table {width:"400";
		height:"300";
		text-align: central;}

		.pavadinimas { color: #201206;
		text-align: central;
		font-weight: bold;}
		#autorius {color:red;}
		.listas {color:#240905;}
		.pagrindinis {height: 300px;
		width: 900 px;
		margin: auto;
		margin-top: 20 px;
		background-color: green;
		}
		.pirmas {background-color: blue;
		}
		.antras {background-color: red;}
		.trecias {back}
		
		
</style>