<style>
.pavadinimas {
	background-image: url("http://www.fubiz.net/wp-content/uploads/2015/07/minimalistbangkok6-900x845.jpg");
	border:1px solid black; 
	padding: 25px;
	margin: auto; 
	height: 50px;
	width: auto;
    text-align: center;

}
.nuotrauka {
	background-color:white; 
	border: 1px solid lightGray; 
	width:150px; 
	height:200px; 
    margin: center;
    padding:0;
	
}

.nuotrauka2 {
	background-color:white; 
	border: 1px solid lightGray;  
    margin: center;
    padding:0;
	align-content: center;
}

.article {
	background-color: #f2f2f2;
	margin: auto;
	border:1px solid lightGray;
	padding: 25px;
	height: 90%;
	width: auto;
}
 .arpavadinimas {
 text-align: center;
 background-color:   #F8F8FF;
	border: 1px solid lightGray;
	padding: 25px;
	margin: auto;
	height: 15px;
	width: 20%;
	float: left;}
	.arpavadinimas h3{ margin: 0;}
 .stiliux {
	background-color: #F8F8FF;
	border: 1px solid lightGray; 
	padding: 25px;
	margin: auto;
	height: 300px;
	width: 25%;
	float: left;
}
body {
	background-image: url("http://www.fubiz.net/wp-content/uploads/2015/07/minimalistbangkok6-900x845.jpg");
	font-family: Courier;
	font-size: 18px;
}
.linkai h2{margin: 0;}

.linkai {background-color:#bb99ff;
	border: 1px solid lightGray;
	padding: 25px;
	margin: auto;
	height: 20px;
	width: 20%;
	float: left;
}

</style>