.pirmas {
	
	padding: 25px;
	margin: auto; 
	height: 50px;
	width: auto;	
}
.antras {
	background-image: url("https://pbs.twimg.com/media/C3axJEFUEAA_InD.jpg");
	
	padding: 25px; 
	margin: auto;
	height: 400px;
}
.antras2 {
	background-image: url("https://pbs.twimg.com/media/C3axJEFUEAA_InD.jpg");
	
	padding: 25px; 
	margin: auto;
	height: 80%;
}
.trecias {
	background-image: url("https://pbs.twimg.com/media/C3axJEFUEAA_InD.jpg");
	
	padding: 25px; 
	margin: auto;
}
.papildomas {
	background-image: url("https://pbs.twimg.com/media/C3axJEFUEAA_InD.jpg");
	margin: auto;
	
	padding: 25px;
	height: 85%;
	width: auto;
}
.papildomas2 {
	background-image: url("https://pbs.twimg.com/media/C3axJEFUEAA_InD.jpg");
	margin: auto;
	
	padding: 25px;
	height: 70%;
	width: auto;
}
.pagrindinis {
	background-color: #f2f2f2;
	border:1px solid lightGray;
	padding: 25px;
	margin: auto;
	height: 300px;
	width: 29%;
	float: left;
}
.pavadinimas {
	background-color: #7d007d;
	border: 1px solid lightGray;
	padding: 25px;
	margin: auto;
	height: 15px;
	width: 20%;
	float: left;
	
} 
.paveiksliukas {
	background-color:white; 
	border: 1px solid lightGray; 
	width:270px; 
	height:200px; 
    margin:auto;
    padding:0;
}
.tekstas1 {
	background-color:#f2f2f2;
	padding: 0px;
	margin: auto;
	height: 110px;
	width: 270px;
	text-align: center;
}
body {
	background-image: url("https://pbs.twimg.com/media/C3axJEFUEAA_InD.jpg");
	
	font-family: Courier;
	font-size: 18px;
}
.tekstas2 {
	background-color: #f2f2f2;
	border: 1px solid lightGray;
	padding: 25px;
	margin: auto; 
	height: auto;
}
a:link { 
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	font-size: 110%;
}
a {
	font-weight: bold;
}
h5 {
	font-size: 10px;
	font-weight: bold;
}
.linkas {
	font-size: 10px;
}
h1 {
	font-size: 30px;
	font-weight: bold;
}
.b {
	font-size: 25px;
}	
